[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
requests = {extras = ["socks"]}
requests-oauthlib = "*"
lxml = "*"
"beautifulsoup4" = "*"
pyquery = "*"
pymysql = "*"
pymongo = "*"
redis = "*"
selenium = "*"
pillow = "*"
pyocr = "*"
flask = "*"
django-pure-pagination = "*"
aiohttp = "*"
yarl = "==1.2.0"

[requires]
python_version = "3.5"
